<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
		<div class="sidebar-brand-icon">
			<img src="~/Templates/ruang-admin/img/logo/logo2.png">
		</div>
		<div class="sidebar-brand-text mx-3">TasteFood Admin</div>
	</a>
	<hr class="sidebar-divider my-0">
	<li class="nav-item">
		<a class="nav-link" href="/Dashboard/Index">
			<i class="fas fa-fw fa-chart-pie"></i>
			<span>Dashboard</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Admin/AdminList/">
			<i class="fas fa-user-circle"></i>
			<span>Yönetici(ler)</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/About/AboutList/">
			<i class="fas fa-exclamation-circle"></i>
			<span>Hakkımızda</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Contact/MessageList">
			<i class="fas fa-fw fa-book"></i>
			<span>Mesajlar</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Category/CategoryList/">
			<i class="fa fa-list-alt"></i>
			<span>Kategoriler</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Product/ProductList/">
			<i class="fas fa-fw fa-cubes"></i>
			<span>Ürünler</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Chef/ChefList/">
			<i class="fas fa-fw fa-chess-king"></i>
			<span>Şefler</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Reservation/ReservationList/">
			<i class="fas fa-fw fa-ticket-alt"></i>
			<span>Rezervasyonlar</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Testimonial/TestimonialList/">
			<i class="fa fa-quote-left"></i>
			<span>Referanslar</span>
		</a>
	</li>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/OpenDayHour/OpenDayHourList/">
			<i class="fas fa-clock"></i>
			<span>Çalışma Saatleri</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Address/AddressList/">
			<i class="fa fa-envelope"></i>
			<span>Adres</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Slider/SliderList/">
			<i class="fa fa-sliders-h"></i>
			<span>Slider</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Notification/NotificationList/">
			<i class="fas fa-fw fa-moon"></i>
			<span>Bildirimler</span>
		</a>
	</li>
</ul>