<div class="ftco-footer-widget mb-4">
	<h2 class="ftco-heading-2">Taste.it</h2>
	<p>Lezzetli yemeklerimiz, özenle tasarlanmış mekanımız ve misafirlerimize sunduğumuz kusursuz hizmet ile unutulmaz anlar yaşatmak için buradayız.</p>
	<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
		<li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
		<li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
		<li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
	</ul>
</div>